@model List<Library.ViewModels.Book.BookListViewModel>
<table class="table table-bordered">
    <thead style="background-color:#003366;color:white">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Autor</th>
            <th>Publish house</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td width="150px">
                    <img style="width:150px;height:150px;" src="data:image/jpg;base64, @Model[i].BookImageUrl" />
                </td>
                <td>
                    @Model[i].BookName
                </td>
                <td>
                    @Model[i].BookAuthor
                </td>
                <td>
                    @Model[i].PublishingHouse
                </td>
                @if (Model[i].RentAvaible)
                {
                <td>
                        @Html.ActionLink("Rent", "Details", "Book", new { bookId = Model[i].BookId }, null)
                </td>
                }

            </tr>
        }

    </tbody>
</table>